<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace='~{/fragments/head.html :: template}'></div>

<div th:replace='~{/fragments/header.html :: template}'></div>

<body class="bg-light">
<br><br><br>
<div class="header">
    <img th:src="@{/images/bike.png}" alt="CodFish Logo" class="logo">
    <h1 class="centered-title">Salesman Management - Add, Update, Delete</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="button-row">
                <a th:href="@{/salesman}" class="btn btn-secondary" role="button"><i class="fas fa-arrow-left"></i> Go
                    back</a>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Add a Salesman</h4>
            <form action="#" th:action="@{/add_salesman}" th:object="${newSalesmanDTO}" th:method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="Imię: Minimalna liczba znaków 3" required>
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname"
                           placeholder="Nazwisko: Minimalna liczba znaków 3" required>
                </div>
                <div class="form-group">
                    <label for="codeNameSurname">Code Name Surname</label>
                    <input type="text" class="form-control" id="codeNameSurname" name="codeNameSurname"
                           placeholder="Wprowadź zgodnie z następującym wzorem SAL99440A-Z(2)" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="userName">Username:</label>
                    <input type="text" class="form-control" id="userName" name="userName"
                           placeholder="User name: imie_nazwisko" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="email: imie.nazwisko@codfishbike.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Minimum 8 znaków, jedną cyfra, mała i duża litera oraz znak specjalny."
                           required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add Salesman</button>
            </form>
        </div>
        <div class="col-md-6">
            <h4>Update a Salesman</h4>
            <form action="#" th:action="@{/update_salesman}" th:object="${salesmanDTO}" th:method="PUT">
                <div class="form-group">
                    <label for="codeNameSurname">Code Name Surname to Update</label>
                    <input type="text" class="form-control" id="codeNameSurname" name="codeNameSurname"
                           placeholder="Aktualizacja sprzedawcy na podstawie pola Code NameSurname" required>
                </div>
                <div class="form-group">
                    <label for="name">New Name</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="Imię: Minimalna liczba znaków 3" required>
                </div>
                <div class="form-group">
                    <label for="surname">New Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname"
                           placeholder="Nazwisko: Minimalna liczba znaków 3" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="userName">NewUsername:</label>
                    <input type="text" class="form-control" id="userName" name="userName"
                           placeholder="User name: imie_nazwisko" required>
                </div>
                <div class="form-group">
                    <label for="email">NewEmail:</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="email: imie.nazwisko@codfishbike.com" required>
                </div>
                <div class="form-group">
                    <label for="password">NewPassword:</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Minimum 8 znaków, jedną cyfra, mała i duża litera oraz znak specjalny."
                           required>
                </div>
                <br>
                <button type="submit" class="btn btn-warning">Update Salesman</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div>
        <input type="text" id="searchInputSalesman" class="form-control mb-3"
               placeholder="Wyszukaj dostępnych sprzedawców ...">
        <h3><p>Available Salesmen:</p></h3>
        <table class="table" id="salesmen-table">
            <thead class="table-dark">
            <tr>
                <th>Name:</th>
                <th>Surname:</th>
                <th>Code NameSurname:</th>
                <th>User id:</th>
                <th>Actions:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="salesman : ${availableSalesmenDTOs}">
                <td th:text="${salesman.name}"></td>
                <td th:text="${salesman.surname}"></td>
                <td th:text="${salesman.codeNameSurname}"></td>
                <td th:text="${salesman.userId}"></td>
                <td>
                    <form th:action="@{/delete_salesman}" th:method="DELETE">
                        <input type="hidden" name="codeNameSurname" th:value="${salesman.codeNameSurname}"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="pagination-container-salesman"></div>
    </div>
</div>
<div class="container">
    <h2>Available Users</h2>
    <table class="table" id="user-table">
        <thead class="table-dark">
        <tr>
            <th>userId</th>
            <th>userName:</th>
            <th>email:</th>
            <th>password:</th>
            <th>active:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${availableUserDTOs}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.active}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        var items = $("#salesmen-table tr");
        var numItems = items.length;
        var perPage = 10;
        items.slice(perPage).hide();
        $('#salesmen-table').twbsPagination({
            totalPages: Math.ceil(numItems / perPage),
            visiblePages: 5,
            onPageClick: function (event, page) {
                var start = perPage * (page - 1);
                var end = start + perPage;

                items.hide().slice(start, end).show();
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#searchInputSalesman").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#salesmen-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
<br><br><br>
<div th:replace='~{/fragments/footer.html :: template}'></div>
</html>