<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head.html :: template}"></head>
<header th:replace="~{/fragments/header.html :: template}"></header>

<body class="bg-light">
<br><br><br>
<div class="header">
    <img th:src="@{/images/bike.png}" alt="CodFish Logo" class="logo">
    <h1 class="centered-title">Salesman - Service, New Bike & Customer</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="button-row">
                <a th:href="@{/service/new}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>Go back</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form action="#" th:action="@{/service/request}" th:object="${bikeServiceRequestDTO}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <h3>New Customer:</h3>
                <section class="customer-info">
                    <div class="form-group mb-3">
                        <label for="customerName">Name:</label>
                        <input type="text" id="customerName" th:field="*{customerName}" class="form-control"
                               aria-label="Customer Name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerSurname">Surname:</label>
                        <input type="text" id="customerSurname" th:field="*{customerSurname}"
                               class="form-control" aria-label="Customer Surname">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerEmail">Email:</label>
                        <input type="email" id="customerEmail" th:field="*{customerEmail}"
                               class="form-control" aria-label="Customer Email">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerPhone">Phone number:</label>
                        <input type="tel" id="customerPhone" th:field="*{customerPhone}"
                               class="form-control" aria-label="Customer Phone">
                    </div>
                </section>
                <section class="address-info">
                    <div class="form-group mb-3">
                        <label for="customerAddressCountry">Country:</label>
                        <input type="text" id="customerAddressCountry" th:field="*{customerAddressCountry}"
                               class="form-control" aria-label="Customer Country">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerAddressCity">City:</label>
                        <input type="text" id="customerAddressCity" th:field="*{customerAddressCity}"
                               class="form-control" aria-label="Customer City">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerAddressPostalCode">Postal code:</label>
                        <input type="text" id="customerAddressPostalCode"
                               th:field="*{customerAddressPostalCode}" class="form-control"
                               aria-label="Customer Postal Code">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerAddressStreet">Street:</label>
                        <input type="text" id="customerAddressStreet" th:field="*{customerAddressStreet}"
                               class="form-control" aria-label="Customer Street">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerAddressHouseNumber">House Number:</label>
                        <input type="text" id="customerAddressHouseNumber"
                               th:field="*{customerAddressHouseNumber}" class="form-control"
                               aria-label="Customer House Number">
                    </div>
                    <div class="form-group mb-3">
                        <label for="customerAddressApartmentNumber">Apartment Number:</label>
                        <input type="text" id="customerAddressApartmentNumber"
                               th:field="*{customerAddressApartmentNumber}" class="form-control"
                               aria-label="Customer Apartment Number">
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <h3>Bike Data:</h3>
                <div class="form-group mb-3">
                    <label for="bikeSerial">Bike Serial:</label>
                    <input type="text" id="bikeSerial" th:field="*{bikeSerial}" class="form-control"
                           aria-label="Bike Serial">
                </div>
                <div class="form-group mb-3">
                    <label for="bikeBrand">Bike Brand:</label>
                    <input type="text" id="bikeBrand" th:field="*{bikeBrand}" class="form-control"
                           aria-label="Bike Brand">
                </div>
                <div class="form-group mb-3">
                    <label for="bikeModel">Bike Model:</label>
                    <input type="text" id="bikeModel" th:field="*{bikeModel}" class="form-control"
                           aria-label="Bike Model">
                </div>
                <div class="form-group mb-3">
                    <label for="bikeYear">Bike Year:</label>
                    <input type="text" id="bikeYear" th:field="*{bikeYear}" class="form-control"
                           aria-label="Bike Year">
                </div>
                <div class="form-group mt-3">
                    <label for="customerComment" class="form-label">Service Comment:</label>
                    <textarea id="customerComment" th:field="*{customerComment}" rows="4" class="form-control"
                              aria-label="Service Comment" required></textarea>
                </div>
                <div class="text-center mt-3">
                    <input type="submit" value="Request" class="btn btn-success">
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:replace="~{/fragments/footer.html :: template}"></footer>
</body>

</html>
