<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace='~{/fragments/head.html :: template}'></div>
<div th:replace='~{/fragments/header.html :: template}'></div>
<body class="bg-light">
<br>
<br>
<div class="centered">
    <br>
    <br>
    <div>
        <br>
        <br>
        <br>
        <img th:src="@{/images/error.png}" alt="OH NO" height="300px">
    </div>
    <br>
    <div>
        <b><span th:if="${errorMessage}" th:text="${errorMessage}"></span></b>
    </div>
</div>
<br><br>
<div class="container">
    <div class="col-12">
        <div class="button-row">
            <button onclick="window.history.back()" class="btn btn-info" role="button"><i class="fas fa-arrow-left"></i>
                Go back
            </button>
        </div>
    </div>
</div>
</body>
<br>
<br>
<br>
<div th:replace='~{/fragments/footer.html :: template}'></div>
</html>